language:
    - python
python:
    - 3.8
    - 3.6
    - 2.7
before_install:
    - sudo apt-get -qq update
install: 
    - pip install -r website/requirements.txt
script:
    - tox
# after_success:
    # - coverage report