:root {
    --light-blue: #0490c8;
    --blue: #0466C8;
    --dark-blue: #023E7D;
    --black-blue: #001233;
    --blue-gray: #33415C;
    --dark-gray: #353535;
    --gray: #565656;
    --light-gray: #979DAC;
    --gradient-color: linear-gradient(100deg, var(--blue) 0%, var(--dark-blue) 36%, var(--black-blue) 100%);
    --inverted-gradient-color: linear-gradient(90deg, var(--blue), var(--dark-blue), var(--black-blue), var(--blue));
    --standard: "montserrat", sans-serif;
    --statement: "consolas";
    --subtle: Georgia, "Cambria", serif
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: var(--standard)
}

body {
    line-height: 1.7em;
    color: var(--gray);
    font-size: 13px
}

h1,
h2,
h3,
h4,
h5,
h6,
label {
    color: var(--blue-gray)
}

.l-box {
    padding: 1em
}

.l-box-lrg {
    padding: 2em;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1)
}

.is-center {
    text-align: center
}

.button {
    cursor: pointer;
    font-family: var(--statement);
    text-transform: uppercase;
    text-decoration: none;
    text-align: center;
    letter-spacing: 4px;
    background: none;
    border: none;
    position: relative;
    display: inline-block;
    padding: 12px 20px;
    margin: 20px;
    border-radius: 8px;
    background-image: black;
    background-size: 200%;
    color: var(--blue);
    transition: 0.6s
}

.button:hover {
    background: var(--blue);
    color: black
}

.splash-container {
    background: black;
    z-index: 1;
    overflow: hidden;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: fixed !important
}

.splash {
    height: 50%;
    margin: 0;
    position: absolute;
    top: 30%;
    left: 0;
    bottom: 0;
    right: 0;
    text-align: center;
    text-transform: uppercase
}

.splash-head {
    z-index: -1;
    line-height: 3em;
    display: inline-flex;
    filter: brightness(300%);
    overflow: hidden
}

.splash-head-text {
    z-index: -1;
    color: white;
    background: black;
    font-size: 80px;
    font-weight: bold
}

.splash-head-text::before {
    content: 'truteordare';
    position: absolute;
    mix-blend-mode: difference;
    filter: blur(1px)
}

.splash-head-gradient {
    z-index: -1;
    background: var(--gradient-color);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    mix-blend-mode: multiply
}

.splash-head-dodge {
    background: radial-gradient(circle, white, black 35%) center / 25% 25%;
    position: absolute;
    top: -100%;
    left: -100%;
    right: 0;
    bottom: 0;
    mix-blend-mode: color-dodge;
    animation: dodge-area 8s linear infinite
}

@keyframes dodge-area {
    to {
        transform: translate(50%, 50%)
    }
}

.splash-subhead {
    color: white;
    letter-spacing: 0.05em;
    opacity: 0.8;
    margin: 0
}

.splash-button {
    cursor: pointer;
    font-family: var(--statement);
    text-transform: uppercase;
    text-decoration: none;
    text-align: center;
    letter-spacing: 4px;
    background: none;
    border: none;
    position: relative;
    display: inline-block;
    padding: 12px 20px;
    margin: 20px;
    border-radius: 8px;
    background-image: black;
    background-size: 200%;
    color: var(--blue);
    transition: 0.6s
}

.splash-button:hover {
    background: var(--blue);
    color: black;
    box-shadow: 0 0 5px var(--blue),
                0 0 25px var(--blue),
                0 0 50px var(--blue),
                0 0 200px var(--blue);
}

.page-down a {
    font-size: 40px;
    color: white;
    cursor: pointer
}

.page-down a:hover i {
    color: var(--blue);
    transform: scale(1.2);
    transition: 0.2s ease-in;
    border-radius: 50%;
    background-clip: text;
    -webkit-background-clip: text
}

.content-wrapper {
    position: absolute;
    top: 100%;
    width: 100%;
    min-height: 12%;
    z-index: 2;
    background: white
}

.content {
    padding: 1em 1em 3em
}

.content-head {
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 4px;
    margin: 2em 0 1em
}

.content-head-ribbon {
    color: white
}

.content-subhead {
    color: var(--blue)
}

.content-subhead a {
    cursor: pointer
}

.content-subhead i {
    margin-right: 7px
}

.ribbon {
    background: var(--dark-gray);
    color: var(--light-gray)
}

.contact-section {
    padding: 30px 0;
    text-align: center
}

.contact-section input {
    background: none;
    border: none;
    outline: none;
    border-bottom: 1px solid white;
    color: white;
    padding: 10px 6px;
    font-size: 18px;
    margin-bottom: 20px;
    width: 400px;
    text-align: center
}

.socials a {
    font-size: 16px;
    color: white;
    cursor: pointer;
    margin: 16px
}

.socials a:hover i {
    color: var(--blue);
    transform: scale(2);
    transition: 0.2s ease-in;
    background-clip: text;
    -webkit-background-clip: text
}

#layout {
    padding: 0
}

.sidebar {
    background: var(--dark-gray);
    color: var(--light-gray);
    display: none
}

.sidebar.filter-open {
    display: block;
    width: 25%
}

.filter {
    align-items: center;
    justify-content: space-between;
    text-align: center;
    top: auto;
    margin: 3em auto
}

.filter-list {
    margin: 0;
    padding: 3em 0
}

.filter-title {
    display: flex;
    color: var(--light-gray);
    padding: 10px;
    cursor: pointer;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 600;
    align-items: center;
    justify-content: space-between;
    transition: 0.3s ease-in
}

.filter-title {
    pointer-events: none;
    opacity: 0
}

.filter-title.open {
    color: white
}

.filter-icon {
    position: relative;
    width: 14px;
    transition: 0.5s linear
}

.filter-icon.rotate {
    transform: rotate(45deg)
}

.filter-input {
    background: transparent;
    border: 2px solid var(--light-gray);
    color: white;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    font-size: 85%;
    border-radius: 10%;
    padding: 8px;
    margin: 1em 0;
    display: inline-block;
    *display: inline;
    transition: 0.3s ease-in;
    opacity: 0
}

.filter-input:hover {
    border: 2px solid var(--blue);
    text-decoration: none
}

.filter-input.open {
    opacity: 1
}

.toggled {
    border: 2px solid var(--blue);
    text-decoration: none
}

.post-content-subhead {
    text-transform: uppercase;
    color: var(--neutral);
    border-bottom: 1px solid #eee;
    padding: 0.4em 0;
    font-size: 80%;
    font-weight: 500;
    letter-spacing: 0.1em
}

.post-content {
    padding: 2em 1em 0
}

.post-content.filter-open {
    margin-left: 25%
}

.post {
    padding-bottom: 2em
}

.post-title {
    font-size: 2em;
    color: #222;
    margin-bottom: 0.2em
}

.post-avatar {
    border-radius: 50px;
    float: right;
    margin-left: 1em
}

.post-description {
    font-family: var(--subtle);
    color: var(--gray);
    line-height: 1.8em
}

.post-meta {
    color: var(--light-gray);
    font-size: 90%;
    margin: 0
}

.post-category {
    text-decoration: none;
    margin: 0 0.1em;
    padding: 0.3em 1em;
    color: white;
    cursor: pointer;
    font-size: 80%;
    opacity: 0.8
}

.post-images {
    margin: 1em 0
}

.post-image-meta {
    margin-top: -3.5em;
    margin-left: 1em;
    color: white;
    text-shadow: 0 1px 1px #333
}

.pagination {
    display: flex;
    margin: 0;
    padding: 0;
    justify-content: center
}

.pagination li {
    list-style: none
}

.pagination li a {
    position: relative;
    display: block;
    width: 36px;
    height: 36px;
    font-size: 18px;
    text-align: center;
    background: var(--dark-gray);
    color: var(--gray);
    text-decoration: none;
    margin: 5px;
    padding: 5px;
    border-radius: 4px;
    box-shadow: inset 
        0 5px 10px rgba(0, 0, 0, 0.1),
        0 2px 5px rgba(0, 0, 0, 0.5);
}

.pagination li a:hover,
.pagination li a.active {
    color: white
}

.pagination li a:hover {
    text-shadow: 0 0 20px white,
    0 0 20px white,
    0 0 20px white,
    0 0 20px white,
    0 0 20px white,
    0 0 20px white,
    0 0 20px white,
    0 0 20px white,
    0 0 20px white
}

@media (min-width: 48em) {
    body {
        font-size: 16px
    }

    .splash {
        height: 50%
    }

    .splash-head {
        font-size: 250%
    }

    .l-box-lrg {
        border: none
    }

    .post-content {
        padding: 2em 3em 0
    }

    .filter {
        margin: 20% 2em 0
    }

    .sidebar {
        position: fixed;
        top: 0;
        bottom: 0
    }

    .footer {
        text-align: center
    }
}

@media screen and (max-width: 38em) {
    .contact-section input {
        width: 100%
    }

    .splash-head-text {
        font-size: 40px
    }
}