@import url('https://fonts.googleapis.com/css?family=Open+Sans');

:root {
    --dark: #61892F;
    --light: #86C232;
    --background: #222629;
    --foreground: #474B4F;
    --text: #6B6E70;
    --gradient: linear-gradient(100deg, var(--light) 0%, #76a73c 36%, var(--dark) 100%);
    --standard: "open sans", "montserrat", sans-serif;
    --statement: "consolas";
    --subtle: Georgia, "Cambria", serif
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: var(--standard)
}

body {
    background: var(--background);
    font-size: 12px
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--statement);
    color: white
}

.l-box {
    padding: 1em
}

.l-box-lrg {
    padding: 2em;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1)
}

.sticky-header {
    z-index: 1;
    top: 0;
    position: fixed;
    width: 100%
}

.bounce {
    transform: translateX(0);
    -webkit-transition: 0.3s ease-out;
    -moz-transition: 0.3s ease-out;
    -ms-transition: 0.3s ease-out;
    -o-transition: 0.3s ease-out;
    transition: 0.3s ease-out
}

.bounce:hover {
    transform: translateX(10px);
    -webkit-transition: 0.3s ease-in;
    -moz-transition: 0.3s ease-in;
    -ms-transition: 0.3s ease-in;
    -o-transition: 0.3s ease-in;
    transition: 0.3s ease-in
}

.scale {
    transform: scale(1);
    -webkit-transition: 0.3s ease-out;
    -moz-transition: 0.3s ease-out;
    -ms-transition: 0.3s ease-out;
    -o-transition: 0.3s ease-out;
    transition: 0.3s ease-out
}

.scale:hover {
    transform: scale(1.2);
    -webkit-transition: 0.3s ease-in;
    -moz-transition: 0.3s ease-in;
    -ms-transition: 0.3s ease-in;
    -o-transition: 0.3s ease-in;
    transition: 0.3s ease-in
}

.button,
.button-alt {
    cursor: pointer;
    font-family: var(--statement);
    text-transform: uppercase;
    text-decoration: none;
    text-align: center;
    letter-spacing: 4px;
    background: none;
    border: none;
    position: relative;
    display: inline-block;
    padding: 12px 20px;
    margin: 20px;
    border-radius: 8px;
    background-size: 200%;
    -webkit-transition: 0.6s linear;
    -moz-transition: 0.6s linear;
    -ms-transition: 0.6s linear;
    -o-transition: 0.6s linear;
    transition: 0.6s
}

.button {
    background-image: var(--light);
    color: var(--light)
}

.button:hover {
    background: var(--light);
    color: white
}

.button-alt {
    background-image: none;
    color: white
}

.button-alt:hover {
    background: none
}

.splash-container {
    background: black;
    z-index: 1;
    overflow: hidden;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: fixed !important
}

.splash {
    height: 50%;
    margin: 0;
    position: absolute;
    top: 30%;
    left: 0;
    bottom: 0;
    right: 0;
    text-align: center;
    text-transform: uppercase
}

.splash-head {
    z-index: -1;
    line-height: 3em;
    display: inline-flex;
    filter: brightness(300%);
    overflow: hidden
}

.splash-head-text {
    z-index: -1;
    color: var(--dark);
    background: black;
    font-size: 80px;
    font-weight: bold
}

.splash-head-text::before {
    content: 'truteordare';
    position: absolute;
    mix-blend-mode: difference;
    filter: blur(1px)
}

.splash-head-gradient {
    z-index: -1;
    background: var(--gradient);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    mix-blend-mode: multiply
}

.splash-head-dodge {
    background: radial-gradient(circle, white, black 35%) center / 25% 25%;
    position: absolute;
    top: -100%;
    left: -100%;
    right: 0;
    bottom: 0;
    mix-blend-mode: color-dodge;
    animation: dodge-area 12s linear infinite
}

@keyframes dodge-area {
    to {
        transform: translate(50%, 50%)
    }
}

.splash-subhead {
    color: var(--text);
    letter-spacing: 0.05em;
    opacity: 0.8;
    margin: 0
}

.splash-button:hover {
    box-shadow: 0 0 5px var(--light),
                0 0 25px var(--light),
                0 0 50px var(--light),
                0 0 200px var(--light)
}

.page-down a {
    font-size: 40px;
    color: var(--foreground);
    cursor: pointer;
    transform: scale(1);
    -webkit-transition: 0.3s ease-out;
    -moz-transition: 0.3s ease-out;
    -ms-transition: 0.3s ease-out;
    -o-transition: 0.3s ease-out;
    transition: 0.3s ease-out;
}

.page-down a:hover i {
    color: var(--light);
    transform: scale(1.2);
    -webkit-transition: 0.3s ease-in;
    -moz-transition: 0.3s ease-in;
    -ms-transition: 0.3s ease-in;
    -o-transition: 0.3s ease-in;
    transition: 0.3s ease-in;
    border-radius: 50%;
    background-clip: text;
    -webkit-background-clip: text
}

.content-wrapper {
    position: absolute;
    top: 100%;
    width: 100%;
    min-height: 12%;
    z-index: 2;
    background: var(--light);
    color: white
}

.content {
    text-align: center;
    padding: 1em 1em 3em
}

.content-head {
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 4px;
    margin: 2em 0 1em
}

.content-subhead a {
    color: black;
    cursor: pointer
}

.content-subhead i {
    margin-right: 7px
}

.ribbon {
    background: var(--foreground);
    text-align: center
}

.form {
    padding: 30px 0;
    text-align: center
}

.form input,
.form textarea {
    background: none;
    border: none;
    outline: none;
    color: var(--text);
    border-bottom: 1px solid white;
    padding: 10px 6px;
    font-size: 18px;
    margin-bottom: 20px;
    width: 400px;
    text-align: center
}

.socials a {
    font-size: 16px;
    color: white;
    cursor: pointer;
    margin: 16px;
    transform: scale(1);
    -webkit-transition: 0.3s ease-out;
    -moz-transition: 0.3s ease-out;
    -ms-transition: 0.3s ease-out;
    -o-transition: 0.3s ease-out;
    transition: 0.3s ease-out
}

.socials a:hover i {
    color: white;
    transform: scale(2);
    -webkit-transition: 0.3s ease-in;
    -moz-transition: 0.3s ease-in;
    -ms-transition: 0.3s ease-in;
    -o-transition: 0.3s ease-in;
    transition: 0.3s ease-in;
    background-clip: text;
    -webkit-background-clip: text
}

.socials a:hover i.fa-twitter {
    color: #1DA1F2
}

.socials a:hover i.fa-github {
    color: #333333
}

.socials a:hover i.fa-linkedin-in {
    color: #2867B2
}

.sidebar {
    z-index: 1;
    overflow: auto;
    background: var(--light);
    color: white;
    max-width: 0;
    transition: max-width 0.6s ease-out
}

.sidebar.filter-open {
    max-width: 500px;
    transition: max-width 0.6s ease-in
}

.filter {
    align-items: center;
    justify-content: space-between;
    text-align: center;
    top: auto;
    margin: 20% 3em auto
}

.filter-item {
    height: 100px;
    -webkit-transition: 0.3s linear;
    -moz-transition: 0.3s linear;
    -ms-transition: 0.3s linear;
    -o-transition: 0.3s linear;
    transition: 0.3s linear
}

.filter-item.open {
    height: auto
}

.filter-title {
    display: flex;
    padding: 10px;
    cursor: pointer;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 24px;
    font-weight: 600;
    align-items: center;
    justify-content: space-between;
    -webkit-transition: 0.3s ease-out;
    -moz-transition: 0.3s ease-out;
    -ms-transition: 0.3s ease-out;
    -o-transition: 0.3s ease-out;
    transition: 0.3s ease-out
}

.filter-title.open {
    color: var(--dark);
    -webkit-transition: 0.3s ease-in;
    -moz-transition: 0.3s ease-in;
    -ms-transition: 0.3s ease-in;
    -o-transition: 0.3s ease-in;
    transition: 0.3s ease-in
}

.filter-icon {
    position: relative;
    width: 14px;
    -webkit-transition: 0.3s ease-out;
    -moz-transition: 0.3s ease-out;
    -ms-transition: 0.3s ease-out;
    -o-transition: 0.3s ease-out;
    transition: 0.3s ease-out
}

.filter-icon.rotate {
    transform: rotate(45deg);
    -webkit-transition: 0.3s ease-in;
    -moz-transition: 0.3s ease-in;
    -ms-transition: 0.3s ease-in;
    -o-transition: 0.3s ease-in;
    transition: 0.3s ease-in
}

.filter-input {
    background: transparent;
    border: 2px solid var(--dark);
    color: var(--dark);
    letter-spacing: 0.1em;
    text-transform: uppercase;
    font-size: 85%;
    border-radius: 10%;
    padding: 8px;
    margin: 1em 0;
    width: 220px;
    display: inline-block;
    opacity: 0;
    -webkit-transition: 0.3s ease-out;
    -moz-transition: 0.3s ease-out;
    -ms-transition: 0.3s ease-out;
    -o-transition: 0.3s ease-out;
    transition: 0.3s ease-out
}

.filter-input:hover {
    border: 2px solid var(--dark);
    text-decoration: none
}

.filter-input.open {
    opacity: 1;
    -webkit-transition: 0.3s ease-in;
    -moz-transition: 0.3s ease-in;
    -ms-transition: 0.3s ease-in;
    -o-transition: 0.3s ease-in;
    transition: 0.3s ease-in
}

.toggled {
    border: 2px solid var(--blue);
    text-decoration: none
}

.post-content-subhead {
    text-transform: uppercase;
    color: var(--text);
    border-bottom: 1px solid var(--text);
    padding: 0.4em 0;
    font-size: 80%;
    font-weight: 500;
    letter-spacing: 0.1em
}

.post-content {
    padding: 2em 6em 0
}

.post {
    cursor: pointer;
    line-height: 2em;
    padding-top: 2em;
    padding-left: 0.6em;
    border-radius: 4px;
    -webkit-transition: 0.2s ease-out;
    -moz-transition: 0.2s ease-out;
    -ms-transition: 0.2s ease-out;
    -o-transition: 0.2s ease-out;
    transition: 0.2s ease-out
}

.post:hover {
    opacity: 0.9;
    background: var(--light);
    -webkit-transition: 0.2s ease-in;
    -moz-transition: 0.2s ease-in;
    -ms-transition: 0.2s ease-in;
    -o-transition: 0.2s ease-in;
    transition: 0.2s ease-in
}

.post-title {
    font-size: 2em;
    color: white;
    margin: 0
}

.post-description {
    font-family: var(--subtle);
    color: white;
    line-height: 1.8em;
    padding-bottom: 1em
}

.post-meta {
    color: var(--text);
    font-size: 90%;
    margin: 0
}

.post-category {
    text-decoration: none;
    margin: 0 0.1em;
    padding: 0.3em 1em;
    cursor: pointer;
    font-size: 80%;
    color: white;
    border-radius: 8px;
    box-shadow: 0 0 5px white
}

.post-images {
    margin: 1em 0
}

.post-image-meta {
    margin-top: -3.5em;
    margin-left: 1em;
    color: white;
    text-shadow: 0 1px 1px #333
}

.pagination {
    display: flex;
    margin: 1em;
    padding: 0;
    justify-content: center
}

.pagination li {
    list-style: none
}

.pagination li a {
    cursor: pointer;
    position: relative;
    display: block;
    width: 36px;
    height: 36px;
    font-size: 18px;
    text-align: center;
    background: var(--dark-gray);
    color: var(--gray);
    text-decoration: none;
    margin: 5px;
    padding: 5px;
    border-radius: 4px;
    box-shadow: inset 
        0 5px 10px rgba(0, 0, 0, 0.1),
        0 2px 5px rgba(0, 0, 0, 0.5);
    -webkit-transition: 0.3s ease-out;
    -moz-transition: 0.3s ease-out;
    -ms-transition: 0.3s ease-out;
    -o-transition: 0.3s ease-out;
    transition: 0.3s ease-out
}

.pagination li a:hover,
.pagination li a.active {
    -webkit-transition: 0.3s ease-in;
    -moz-transition: 0.3s ease-in;
    -ms-transition: 0.3s ease-in;
    -o-transition: 0.3s ease-in;
    transition: 0.3s ease-in;
    color: var(--light)
}

.pagination li a:hover {
    -webkit-transition: 0.3s ease-in;
    -moz-transition: 0.3s ease-in;
    -ms-transition: 0.3s ease-in;
    -o-transition: 0.3s ease-in;
    transition: 0.3s ease-in;
    text-shadow: 0 0 20px var(--light),
    0 0 20px var(--light),
    0 0 20px var(--light),
    0 0 20px var(--light),
    0 0 20px var(--light),
    0 0 20px var(--light),
    0 0 20px var(--light),
    0 0 20px var(--light),
    0 0 20px var(--light)
}

.post-view header {
    padding: 6%;
    text-align: center;
    background: var(--light);
    color: white
}

.post-view header h1 {
    font-size: 3em
}

.post-view .post-view-meta {
    opacity: 0.9;
    color: white;
    background: black;
    text-align: center
}

.post-view .post-view-meta .tagline {
    color: var(--text)
}

.post-view .body {
    width: 100%;
    padding: 5% 12% 5% 12%;
    text-align: left;
    color: var(--text);
    letter-spacing: 3px;
    border-bottom: 1px solid var(--text)
}

.post-view .comments {
    padding: 3% 15% 0 15%;
    text-align: left;
    color: var(--text);
    font-size: 80%;
    letter-spacing: 2px
}

.post-view .comments a {
    -webkit-transition: 0.3s ease-out;
    -moz-transition: 0.3s ease-out;
    -ms-transition: 0.3s ease-out;
    -o-transition: 0.3s ease-out;
    transition: 0.3s ease-out;
    padding-left: 3%;
    cursor: pointer
}

.post-view .comments a.open,
.post-view .comments a:hover {
    -webkit-transition: 0.3s ease-in;
    -moz-transition: 0.3s ease-in;
    -ms-transition: 0.3s ease-in;
    -o-transition: 0.3s ease-in;
    transition: 0.3s ease-in;
    color: var(--light)
}

.post-view .comments a.open i {
    transform: rotate(90deg)
}

.post-view .comments p span {
    color: white
}

.post-view .comments .replies {
    padding-left: 5%;
    overflow: hidden;
    opacity: 0;
    max-height: 0;
    transition: 0.6s ease-in-out
}

.post-view .comments .replies.open {
    opacity: 1;
    max-height: 500px
}

.post-view .comment-form {
    padding: 3% 0 0 0
}

.post-view .comment-form input,
.post-view .comment-form textarea {
    margin: 0 10px 10px 10px;
    padding: 0;
    width: 800px;
    background: var(--text);
    color: var(--foreground)
}

.post-view .comment-form textarea {
    height: 100px;
    text-align: left
}

.post-view form {
    width: 100%;
    height: 100%;
    text-align: center
}

.post-view form header h1 input {
    background: none;
    border: none;
    outline: none;
    text-align: center
}

.post-view form .post-view-meta .tagline textarea {
    width: 1200px;
    height: 100px;
    background: var(--text);
    border: none;
    outline: none;
    color: white
}

.post-view form .body {
    border: none;
    padding-bottom: 0
}

#id_body {
    width: 100%;
    height: 100%;
    background: var(--text);
    border: none;
    outline: none;
    color: white
}

@media (min-width: 48em) {
    body {
        font-size: 16px
    }

    .splash {
        height: 50%
    }

    .splash-head {
        font-size: 250%
    }

    .l-box-lrg {
        border: none
    }

    .post-content {
        padding: 2em 12em 0
    }

    .sidebar {
        position: fixed;
        top: 0;
        bottom: 0
    }
}

@media screen and (max-width: 500px) {
    .form input {
        width: 100%
    }

    .splash-head-text {
        font-size: 40px
    }

    .sidebar {
        overflow: hidden;
        max-width: 500px;
        max-height: 0;
        transition: max-height 0.6s ease-out
    }

    .sidebar.filter-open {
        max-height: 500px;
        transition: max-height 0.6s ease-in
    }

    #filter-open {
        margin: 0
    }

    .filter {
        margin: 0 3em auto
    }

    .filter-list {
        margin: 0
    }

    .filter-item {
        height: 50px
    }

    .post-view .comment-form input,
    .post-view .comment-form textarea {
        width: 300px
    }
}