{% extends 'base.html' %}
{% load blog_tags %}
{% block title %}{% if object.title %}{{ object.title|title|truncatechars:10 }}{% else %}Create{% endif %} &ndash; {{ blogname }}{% endblock title %}
{% block main %}
<div class="post-view pure-g" data-controller="post">
    <!-- Header -->
    <div class="sticky-header">
    </div>

    <form method="POST">{% csrf_token %}
        <!-- Heading -->
        <header class="pure-u-1">
            {{ form.title.errors }}
            <h1>{{ form.title }}</h1>
        </header>

        <!-- Meta Content -->
        <div class="post-view-meta pure-u-1">
            <p class="tagline">
                {{ form.tagline.errors }}
                {{ form.tagline }}
            </p>
        </div>

        <!-- Content -->
        <div class="body">
            {{ form.body.errors }}
            {{ form.body }}
            {{ form.media }}
        </div>

        {{ form.non_field_errors }}
    
        <button type="submit" class="button">Save</button>
    </form>
</div>
{% endblock main %}