{% extends 'base.html' %}
{% block title %}Blog &ndash; {{ blogname }}{% endblock title %}
{% block main %}
<div class="pure-g" data-controller="nav">
    <!-- Header -->
    <div class="sticky-header">
        <button class="button" id="filter-open" data-action="nav#menu">&#9776;</button>
    </div>

    <!-- Sidebar -->
    <div class="sidebar pure-u-1 pure-u-md-1-4">
        <button class="button-alt scale" id="filter-close" data-action="nav#menu">Close &times;</button>
        <div class="filter" data-controller="filter">
            <div class="filter-list">
                <form method="GET">
                    <div class="filter-item">
                        <a class="filter-title bounce" data-action="filter#expand">
                            Text
                            <div class="filter-icon">&#43;</div>
                        </a>
                        <input class="filter-input" type="text" name="text"
                            placeholder="Filter by text" disabled>
                    </div>

                    {% if archive.items %}
                    <div class="filter-item">
                        <a class="filter-title bounce" data-action="filter#expand">
                            Archive
                            <div class="filter-icon">&#43;</div>
                        </a>
                        <select class="filter-input" name="archive" disabled>
                            <option selected disabled value>Pick date</option>
                            {% for date, count in archive.items %}
                                <option value="{{ date }}">{{ date }} ({{ count }})</option>
                            {% endfor %}
                        </select>
                    </div>
                    {% endif %}
                    
                    <div class="filter-item">
                        <a class="filter-title bounce" data-action="filter#expand">
                            Tags
                            <div class="filter-icon">&#43;</div>
                        </a>
                        {% for tag, count in tags.items %}
                            <button style="background: {{ tag.background }}" class="filter-input" 
                                type="button" data-action="filter#tag">{{ tag.title }} ({{ count }})</button>
                            <input type="hidden" id="{{ tag.title }}" name="tag"
                                value="{{ tag.title }}">
                        {% endfor %}
                    </div>

                    <button class="button-alt scale" type="submit">Filter</button>
                </form>
            </div>
        </div>
    </div>

    <div class="post-content pure-u-1">
        <div>
            {% if pinned %}
            <div class="posts" data-controller="post">
                <h1 class="post-content-subhead">Pinned Post</h1>
                {% with post=pinned %}
                {% include "blog/snippets/post.html" %}
                {% endwith %}
            </div>
            {% endif %}
            <div class="posts" data-controller="post">
                <h1 class="post-content-subhead">Recent Posts</h1>
                {% for post in page_obj %}
                    {% include "blog/snippets/post.html" %}
                {% empty %}
                <section class="post">
                    <header class="post-header">
                        <h2 class="post-title">No posts yet.</h2>
                    </header>
                </section>
                {% endfor %}
            </div>
            <ul class="pagination" data-controller="pagination">
                {% for page_num in num_pages %}
                <li><a data-action="pagination#page" id="page-{{ page_num }}">{{ page_num }}</a></li>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>
{% endblock main %}