{% extends 'base.html' %}
{% block title %}About - {{ blogname }}{% endblock title %}
{% block main %}
        <main class="landing">
            <section class="landing__content">
                <div class="intro">
                    <h1 class="intro__text">About</h1>
                </div>

                <div class="hero">
                    <p class="hero__step-title">
                        Jack Trute
                    </p>
                </div>

                <p class="lede">
                I'm a software developer from the UK with a background in web development and Computer Vision with Python.
                It's still early days, but I have been lucky to have worked on projects using Python / Django and
                C# / .NET (ASP.NET) along with Docker / Kubernetes / Microsoft Azure, often involving a GeoSpatial element.
                The projects I've worked on often use open-source software meaning I have been able to contribute back
                to those projects in a meaningful way.
                </p>

                <p class="lede">
                I have a personal interest in Computer Vision (OpenCV w/ Python / C++) and therefore wrote my dissertation on the
                implementation and comparisons of Facial Expression recognition techniques within which I used Python
                along with OpenCV, TensorFlow, PyTorch, and Keras.
                </p>

                <p class="lede">
                Keep up to date with the site by joining my mailing list.
                </p>
            </section>
        </main>
{% endblock main %}