{% load static blog_tags %}
{% blogname as blogname %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        {% block meta %}
        <meta name=”description” content="Tech, Sport, and other things that I talk about."/>
        {% endblock meta %}

        <script src="{% static 'main.js' %}"></script>
        <link rel="stylesheet" type="text/css" href="{% static 'main.css' %}">
        <link rel="stylesheet" href="https://use.typekit.net/ted5yzm.css">
        <title>{% block title %}{{ blogname }}{% endblock title %}</title>
    </head>
    <body>
        <header class="nav">
            <span class="bf nav__logo">
                {{ blogname }}
            </span>
            <nav class="nav__links" data-controller="nav">
                <a class="nav__links-item active" data-target="nav.home" data-action="nav#home">Home</a>
                <a class="nav__links-item" data-target="nav.about" data-action="nav#about">About</a>
            </nav>
        </header>

        {% block main %}
        {% endblock main %}

        <footer class="foot">
            <p class="version">
                <span>Current version: 1.0 &mdash; released January XX, XXXX</span>
            </p>
            <p>
                <span class="foot__text">
                    <a href="https://github.com/JrobT"><img class="foot__icon" src="{% static 'static/img/github.svg' %}" alt="GitHub"></a>
                    <a href=""><img class="foot__icon" src="{% static 'static/img/twitter.svg' %}" alt="Twitter"></a>
                    <a href="https://www.linkedin.com/in/jack-trute-4186b9107/"><img class="foot__icon" href="https://www.linkedin.com/in/jack-trute-4186b9107/" src="{% static 'static/img/linkedin.png' %}" alt="LinkedIn"></a>
                </span>
            </p>
        </footer>
    </body>
</html>