<!DOCTYPE html>{% load render_bundle from webpack_loader %}{% load static blog_tags %}{% blogname as blogname %}
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %}{{ blogname }}{% endblock title %}</title>
        
        <link rel="stylesheet" href="https://unpkg.com/purecss@2.0.3/build/pure-min.css"
            integrity="sha384-cg6SkqEOCV1NbJoCu11+bm0NvBRc8IYLRGXkmNrqUBfTjmMYwNKPWBTIKyw9mHNJ" crossorigin="anonymous">
        <script src="https://kit.fontawesome.com/5b2f6cefa9.js" crossorigin="anonymous"></script>
        {% render_bundle 'main' %}
    </head>
    <body>
        {% block main %}
        {% endblock main %}
    </body>
</html>