<div class="post">
    <h2><a class="bf" id="{{ post.slug }}" data-action="post#detail">{{ post.title|title }}</a></h2>
    <nav class="post__links">
        <span class="post__links-item">{{ post.posted|date:"d F Y" }}</span>
        {% ifnotequal post.posted post.edited %}
        <span class="post__links-item">{{ post.edited|date:"d F Y" }}</span>
        {% endifnotequal %}
        {% with comments=post.active_comments.count %}
        <span class="post__links-item">{{ comments }} Comment{% ifnotequal comments 1 %}s{% endifnotequal %}</span>
        {% endwith %}
    </nav>
    <p>{{ post.tagline|truncatewords:100 }}</p>
</div>