{% load static %}
<section class="post" id="{{ post.slug }}" data-action="click->post#detail">
    <header class="post-header">
        <h2 class="post-title">{{ post.title|title }}</h2>
        {% ifnotequal post.posted post.edited %}
        <p class="post-meta">
            {{ post.posted|date:"d F Y" }}, edit made on {{ post.edited|date:"d F Y" }}
        </p>
        {% else %}
        <p class="post-meta">
            {{ post.posted|date:"d F Y" }}
        </p>
        {% endifnotequal %}
        {% for tag in post.tags.all %}
        <a class="post-category" style="background: {{ tag.background }}" href="{{ tag.slug }}">{{ tag.title|title }}</a>
        {% endfor %}
    </header>
    <div class="post-description">
        <p>{{ post.tagline|truncatewords:50 }}</p>
    </div>
</section>